
*{ box-sizing: border-box; }

a{
  color: #fff;
  text-decoration:none;
}

body{
  /* background-color: #0b0b0b; */
  color: #000;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.logotip{
  background-image: url("../images/checklogotip.png");
  /* color: #fff; */
  display: inline-block;
  width: 256px;
  height: 256px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header{
  height: 100vh;
  position: absolute;
  z-index: 5;
  /* background: rgba(0, 0, 0, 0.3); */
  left: 0;
  right: 0;
}

.container{
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.header-top{
  display: flex;
  justify-content: space-between;
}

.header-content__title { margin-top: 20px; }

.header-btn{
  width: 60px;
  height: 60px;
  border: 1px solid #000; 
  margin-top: 31px; 
  /* background: rgba(255, 255, 255, 0.1); */
  cursor: pointer; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-btn div{
  width: 36px;
  height: 2px;
  background-color: #000;
  margin: 5px 0;
}

.menu{
  position: absolute;
  background-color: #000;
  /* opacity: 0.8; */
  top: 0;
  left: -100%;
  width: 100%;
  transition: all .7s;
  z-index: 7;
}

.container-menu{ position: relative; }

.close-btn{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 43px;
  right: 20px;
  cursor: pointer;
}

.close-btn::after,
.close-btn::before{
  content: "";
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform-origin: left;
}

.close-btn::after{
  transform: rotate(45deg);
}

.close-btn::before{
  transform: rotate(-45deg);
  bottom: -1px;
}

.menu__list{
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu__list ul{ list-style: none; }

.menu__list a{
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  padding: 30px 25px 14px 0;
  border-bottom: 3px solid #53B374;
  display: inline-block;
  min-width: 368px;
  transition: all .5s;
}

.menu__list a:hover{
  border-color: #fff;
  color: #53B374;
  transform: scale(1.2);
  margin-left: 37px;
}

.form__title-box{ padding-bottom: 50px; }

.form__title{
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  color: #000;
  margin-bottom: 10px;
}

.form__text{
  font-size: 30px;
  line-height: 41px;
  color: #727D76;
}

.form__box-inner{
  display: flex;
  justify-content: space-between;
}

.form__box-left{
  max-width: 350px;
  width: 100%;
}

.form__box-inner input{ width: 100%; }

.form__box-inner label,
.form__box-inner p{
  line-height: 40px;
  color: #282828;
}

.form__input{
  margin-bottom: 8px;
  outline: none;
  height: 40px;
  border: 1px solid #b0b0b0;
  padding: 0 10px;
}

.form__box-inner button{
  padding: 10px 17px;
  /* background: #fff; */
  border: 1px solid rgb(127, 115, 115);
  border-radius: 10px;
  margin-bottom: 7px;
  cursor: pointer;
}

.form__box-btn--active,
.form__box-btn:hover{
  background-color: #53B374;
  color: #fff;
  transition: all .2s;
}

.form__box{
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  padding-bottom: 90px;
  /* margin-bottom: 100px; */
}

.slider__title{ 
  /* margin: 20px 0; */
  line-height: 40px;
  font-weight: 400;
  color: #282828; 
}

.form__range-slider{
  width: 294px;
  margin: 20px 0;
}

.slider__inputs{
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.slider__label{
  display: flex;
  align-items: center;
  width: 133px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 10px;
}

.slider__text{
  font-size: 14px;
  color: #808080;
}

.slider__text:first-child{ margin-right: 3px; }

.slider__text:last-child{ margin-left: 3px; }

.slider__input{
  border: none;
  color: #4d4d4d;
  font-size: 14px;
  padding: 0 10px;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.noUi-connect{ background-color: #53B374; }

.noUi-target{
  background-color: #bfbfbf;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 4px;
}

.noUi-handle::after,
.noUi-handle::before{
  display: none;
}

.noUi-handle{
  box-shadow: none;
  border-radius: 100%;
  background-color: #fff;
  border: 3px solid #53B374;
}

.noUi-horizontal .noUi-handle{
  width: 22px;
  height: 22px;
  top: -8px;
}

.switch{
  /* margin: 0; */
  /* padding: 0; */
  /* background: #f3f3f3; */
  display: flex;
  justify-content: space-between;
  width: 318px;
  /* margin-left: 100px; */
}

.switch__title{
  line-height: 40px;
  font-weight: 400;
  color: #282828; 
}

input[type="checkbox"]{
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  outline: none;
  background: #c6c6c6;
  border-radius: 20px;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  /* padding-top: 30px; */
  margin-top: 10px;
}

input:checked[type="checkbox"]{
  background: #53B374;
}

input[type="checkbox"]::before{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #c1c1c1;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transition: .5s;
  transform: scale(1.1);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"]::before{
  left: 24px;
}

.form__box-right{ 
  width: 411px;

}

.right__title{
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    color: #000;
    width: 387px;
    padding-bottom: 10px;
}

.total__cost{
  line-height: 18px;
  text-decoration: none;
  /* color: #fff; */
  margin-bottom: 28px;
  padding-left: 67px;
  display: inline-block;
  position: relative;
}

.total__cost::before{
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../images/arrows.png);
  position: absolute;
  left: 0;
  top: -4px;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
  padding-right: 149px;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #18e55e;
  /* 53B374 #18e55e #41e178 */
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 7px;
  cursor: pointer;
  margin: 0 auto;
}